style.css

body {
  padding: 40px;
}

h1 {
  display: block;
  color: black;
  background-color: #c7937b;
}

h2 {
  display: inline;
  color: green;
  background-color: silver;
}

h3 {
  display: inline;
  color: green;
  background-color: white;
}

img {
  border-radius: 50%;
}
